.board{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
}
.square{
  width: 100px;
  height: 100px;
  line-height: 100px;
  border:1px solid black;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 70px;
  cursor: pointer;
}
